<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
<!--<nav class="navbar navbar-inverse navbar-default navbar-fixed-top">-->
 <ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/">Home</a></li>
  <li role="presentation"><a href="/manage">Manage Box</a></li>
  <li role="presentation"><a href="/add">Add Box</a></li>
  <li role="presentation"><a href="/additem">Add item</a></li>
  <li role="presentation"><a href="/deleteitem">Delete Item</a></li>
  <li role="presentation"><a href="/his">History</a></li>
  <li role="presentation"><a class="pull-right" href="/logout">Logout</a></li>
  
</ul>
<div class="container">
<div class="col">
  <div class="row-6">

	<h1><span class="fa fa-sign-in"></span>Add Item</h1>

	<form action="/additembox" method="post">
		<input hidden type="text" value={{var.type}} name="type">
		<div class="form-group">
			<label>Item</label>
			<input type="text" class="form-control" name="item">
		</div>
		<div class="form-group">
			<label>Quantity</label>
			<input type="text" class="form-control" name="qty">
		</div>
		<button type="submit" class="btn btn-warning btn-lg">Add</button>
	</form>

	
</div>
  <div class="row-6">

	<h1></span>Delete Item</h1>


	<!-- LOGIN FORM -->
	<form action="/delitembox" method="post">
		<div class="form-group">
		<input hidden type="text" value={{var.type}} name="type">
			<label>Item</label>
			<select class="form-control" name="item">
				{{#each item}}
					<option>{{this.item}}</option>
				{{/each}}
			</select>
		</div>
		<button type="submit" class="btn btn-warning btn-lg">Add</button>
	</form>

	
</div>
</div>
</div>
</body>
</html>